.main {
  height: 100vh;
  background-image: url(https://imgscf.slidemembers.com/docs/1/1/330/architecture_simple_powerpoint_template_design_329378.jpg);
  background-size: cover;
  cursor: grab;
}
